<!DOCTYPE html>
<html lang="en" class="no-js">
    <meta http-equiv="refresh" content="0; url=./newcall" />
    <head>
        <!-- https://github.com/mikecao/umami -->

        <script
            async
            defer
            data-website-id="a378bd09-212d-4801-94cc-9797b6a5f3f7"
            src="https://stats.mirotalk.org/umami.js"
        ></script>

        <!-- Title and Icon -->

        <title>Sligo Secure</title>
        <link rel="shortcut icon" href="../images/Sligo.png" />
        <link rel="apple-touch-icon" href="../images/Sligo.png" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />



        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
    </head>


                <section class="cta section center-content-mobile reveal-from-bottom">
                    <div class="container">
                        <div class="cta-inner section-inner cta-split">
                            <div class="cta-slogan">
                                <h3 class="m-0">
                                    Sligo Secure Video Conferencing<br />
                                    Name your virtual conferencing center:
                                </h3>
                            </div>
                            <div class="cta-action">
                                <div class="mb-24">
                                    <label class="form-label screen-reader" for="roomName">mirotalk</label>
                                    <div class="form-group-desktop">
                                        <input class="form-input" type="text" id="roomName" value="mirotalk" />
                                        <button
                                            id="joinRoomButton"
                                            class="button button-primary pulse"
                                            onclick="joinRoom()"
                                        >
                                            Join Room
                                        </button>
                                        <script>
                                            document.getElementById('roomName').onkeyup = (e) => {
                                                if (e.keyCode === 13) {
                                                    e.preventDefault();
                                                    joinRoom();
                                                }
                                            };
                                            function joinRoom() {
                                                let roomName = document.getElementById('roomName').value;
                                                window.location.href = '/join/' + roomName;
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>





        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
    </body>
</html>
