<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- https://github.com/mikecao/umami -->

        <script
            async
            defer
            data-website-id="a378bd09-212d-4801-94cc-9797b6a5f3f7"
            src="https://stats.mirotalk.org/umami.js"
        ></script>

        <!-- Title and Icon -->

        <title>Sligo - Allow Video and Audio access to join in the Room.</title>
        <link rel="shortcut icon" href="../images/Sligo.png" />
        <link rel="apple-touch-icon" href="../images/Sligo.png" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />



        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
    </head>
    <body class="has-animations">
        <h1>Camera and Microphone Failed</h1>
    </body>
</html>
